.scene
    .scene_titanShadow
    .t_wrap
        .scene_titan
            .eyes
                .eye.eye--left
                .eye.eye--right
    .scene_saturn
        .scene_saturn__face
            .face_clip
                .eye.eye--left
                .eye.eye--right
                .mouth
        .scene_saturn__shadow
        .scene_saturn__shadowRing
        .scene_saturn__sparks
            -(1..20).each do
                .spark
        .scene_saturn__ring
            .small
                -(1..40).each do
                    .small_part
            -(1..3).each do
                .layer
                    -(1..50).each do
                        .layer_part
                